/* 
    Created on : 27/04/2020, 08:46:24
    Author     : everton
*/

:root {
    --border-width: 0.1em;
}

body {
    margin: 0 0 0 0;
    padding: 0.5em 1em 1em 1em;
}

.tui-button {
    border-style: solid;
    border-width: var(--border-width);
    height: 2.5em;
    min-width: 6em;
    font-weight: bold;
    cursor: default;
}

.tui-menu {
    border-style: solid;
    border-width: var(--border-width);
    height: 2.5em;
    line-height: 2.5em;
    padding: 0;
    padding-left: 0.5em;
    margin: 0;
}

.tui-menu>.tui-item {
    text-decoration: none;
    margin: 0.2em 0.2em 0.2em 0.2em;
    padding: 0;
    font-weight: bold;
    background: inherit;
    border: none;
    cursor: default;
    display: inline;
}

.tui-hline {
    
}

.tui-hbox, .tui-vbox {
    border: none;
}
.tui-hbox>* {
    display: inline-block;
    vertical-align: top;
}

.tui-vbox>* {
    display: block;
}

.tui-tbox {
    display: table;
}

.tui-tbox>.tui-row {
    display: table-row;
}

.tui-tbox>.tui-row>.tui-col {
    display: table-cell;
}

.tui-table {
    border-style: solid;
    border-width: var(--border-width);
    border-collapse: collapse;
}

.tui-table>caption {
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-width: var(--border-width);
}

.tui-table>thead, .tui-table>tfoot {
    
}

.tui-table>tbody>tr>td {
    border-style: solid;
    border-width: var(--border-width);
}

.tui-panel {
    border-style: solid;
    border-width: var(--border-width);
    margin: 0.2em 0.2em 0.2em 0.2em;
}

.tui-panel>.tui-title {
    font-weight: bold;
    text-align: left;
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0;
}

.tui-panel>.tui-content {
    margin: 0;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.tui-panel>.tui-footer {
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0;
}

.tui-group {
    border-style: solid;
    border-width: var(--border-width);
}

.tui-tabpanel>.tui-header {
    overflow: hidden;
    border-style: solid;
    border-width: var(--border-width);
}

.tui-tabpanel>.tui-header>button {
    float: left;
    border: none;
    outline: none;
    cursor: default;
    border-right-style: solid;
    border-right-width: var(--border-width);
    padding: 0.2em 0.2em 0.2em 0.2em;
    min-height: 2.5em;
    min-width: 6em;
}

.tui-tabpanel>.tui-tabs>div {
    display: none;
    border-style: solid;
    border-width: var(--border-width);
    padding: 0.2em 0.2em 0.2em 0.2em;
    border-top: none;
}

.tui-tabpanel>.tui-tabs>div.tui-active {
    display: block;
}

.tui-dropdown {
    position: relative;
    display: inline-block;
}

.tui-dropdown>button {
    margin: 0.2em 0.2em 0.2em 0.2em;
    padding: 0;
    font-weight: bold;
    background: inherit;
    border: none;
    cursor: default;
}

.tui-dropdown>div {
    display: none;
    position: absolute;
    z-index: 1;
    border-style: solid;
    border-width: var(--border-width);
    padding: 0.2em 0.2em 0.2em 0.2em;
    min-width: 6em;
}

.tui-dropdown>div>*  {
    display: block;
}

.tui-sidebar {
    float: left;
    border-style: solid;
    border-width: var(--border-width);   
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 1em 1em 1em 1em;
}

.tui-sidebar>.tui-item {
    display: block;
    text-decoration: none;
}